flow.json
[{"id":"406db893.e79658","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"99e4286f.638cf","type":"inject","z":"406db893.e79658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["2ea943c1.c30884"]]},{"id":"2ea943c1.c30884","type":"function","z":"406db893.e79658","name":"","func":"msg.payload = \"Hello\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["f11735d4.e7cba8"]]},{"id":"f11735d4.e7cba8","type":"debug","z":"406db893.e79658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":413,"y":135,"wires":[]}]